<!doctype html>
<html>
  <head>
    <title>{{ data.appName }} | {{ data.pageTitle }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class=page>
      <h1>{{ data.appName }}</h1>
      <div class=topnav>
      {% if session.username %}
        <a href="{{ url_for('index') }}">Manage User</a>
        <a href="{{ url_for('new') }}">New</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
      </div>
      <h2>{{ data.pageTitle }}</h2>
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class='flash-{{ category }}'><b>{% filter upper %}{{ category }}:{% endfilter %}</b> {{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
